= form_tag url_for(params), :method => 'get', :id => "text_search", :html=>{:class=>"form-search"} do

  = text_field_tag :search, params[:search], :class=>"input-xxlarge search-query", placeholder: t('.search_query')
  = submit_tag t('.search'),name: nil, class: 'btn'
